.bg{

    background-image: url('../assets/spacejoy-9M66C_w_ToM-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.main {

    height: 580px;
    width: 400px;
    border: 2px solid #F1F4FB;
    display: flex;
    margin-top: 5px;
    margin-left: 200px;
    flex-wrap: wrap;
    flex-direction: row;


}

.mdiv{

    margin: 250px 50px;
    font-size: 1.5rem;
    color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    font-family: "Fredoka", sans-serif;


}

.btn{

    height: 40px;
    width: 108px;
    border: 2px solid #F1F4FB;
    border-radius: 20px;
    margin: 20px 0px;

}

#tdiv{
    height: 70px;
    width: 398px;
    background-color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    margin:0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 20px;
    flex-direction: row;

}

.bt1div{

    height: 400px;
    width: 400px;
    background-color: #3265dc;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    

}

.noactive{
    text-decoration: none;
    color: #6E7488;
}

.active{

    text-decoration: none;
    color: #061943;
}

.hidenav{

  display: none;
}

.hamicon{
   margin: -30px 300px;
   display: flex;
  
}

.hamicon img{
   height: 50px;
   width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none; /* Remove outline on focus */
  transform: scale(1); /* Initial scale */

  /* The magic happens here! ✨ */
  /* This tells the browser to animate changes to background-color,
     box-shadow, and transform over 0.3 seconds with an ease-in-out curve. */
  transition:
              box-shadow 0.3s ease-in-out,
              transform 0.3s ease-in-out;
   
}

.hamicon:hover {
  box-shadow: 0 6px 12px rgba(9, 167, 241, 0.3); /* More pronounced shadow */
  transform: scale(1.05); /* Slightly enlarge the button */
}




/* responsive css */
@media only screen and (max-width: 600px) {

  .bg{

    background-image: url('../assets/spacejoy-9M66C_w_ToM-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 914px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

  
.main {

    max-height: 810px;
    max-width: 280px;
    border: 2px solid #F1F4FB;
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: row;


}

.mdiv{

    margin: 250px 5px;
    font-size: 80%;
    color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    font-family: "Fredoka", sans-serif;


}

.btn{

    height: 40px;
    width: 108px;
    border: 2px solid #F1F4FB;
    border-radius: 20px;
    margin: 20px 0px;

}

#tdiv{
    height: 50px;
    width: 280px;
    background-color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    margin:0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    font-size: small;
    flex-direction: column;
    

}

.bt1div{

    height: 400px;
    width: 400px;
    background-color: #3265dc;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    

}






}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

       .bg{

    background-image: url('../assets/spacejoy-9M66C_w_ToM-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 914px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

  
.main {

    max-height: 810px;
    max-width: 280px;
    border: 2px solid #F1F4FB;
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: row;


}

.mdiv{

    margin: 250px 5px;
    font-size: 80%;
    color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    font-family: "Fredoka", sans-serif;


}

.btn{

    height: 40px;
    width: 108px;
    border: 2px solid #F1F4FB;
    border-radius: 20px;
    margin: 20px 0px;

}

#tdiv{
    height: 50px;
    width: 280px;
    background-color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    margin:0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    font-size: small;
    flex-direction: column;
    

}

.bt1div{

    height: 400px;
    width: 400px;
    background-color: #3265dc;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    

}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   .bg{

    background-image: url('../assets/spacejoy-9M66C_w_ToM-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 914px;
    min-width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

  
.main {

    max-height: 810px;
    max-width: 280px;
    border: 2px solid #F1F4FB;
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: row;


}

.mdiv{

    margin: 250px 5px;
    font-size: 80%;
    color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    font-family: "Fredoka", sans-serif;


}

.btn{

    height: 40px;
    width: 108px;
    border: 2px solid #F1F4FB;
    border-radius: 20px;
    margin: 20px 0px;

}

#tdiv{
    height: 50px;
    width: 280px;
    background-color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    margin:0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    font-size: small;
    flex-direction: column;
    

}

.bt1div{

    height: 400px;
    width: 400px;
    background-color: #3265dc;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    

}
 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

       .bg{

    background-image: url('../assets/spacejoy-9M66C_w_ToM-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 914px;
    min-width: 992px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

  
.main {

    max-height: 810px;
    max-width: 280px;
    border: 2px solid #F1F4FB;
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: row;


}

.mdiv{

    margin: 250px 5px;
    font-size: 80%;
    color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    font-family: "Fredoka", sans-serif;


}

.btn{

    height: 40px;
    width: 108px;
    border: 2px solid #F1F4FB;
    border-radius: 20px;
    margin: 20px 0px;

}

#tdiv{
    height: 50px;
    width: 280px;
    background-color: #F1F4FB;
    display: flex;
    flex-wrap: wrap;
    margin:0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    font-size: small;
    flex-direction: column;
    

}

.bt1div{

    height: 400px;
    width: 400px;
    background-color: #3265dc;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    

}


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .navbar {background: pink;}
} */